{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class='col-md-9 col-md-offset-2' >
  <h1>Add New Product</h1>
  <form action='' method='post' >
    {% csrf_token %}
    {{ form|crispy }}

    <input type='submit' value='Add Prodcut'>
  </form>
  </div>

{% endblock %}