{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}


  <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>XYZ Website</h1>
        <p>Welcome to this boring website...</p>
      </div>


      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          
         <a href="#" > <img src="{% static 'img/ecommerce.jpg' %} " class="img-responsive"/>
         </a>



       </div>
        <div class="col-md-4">
      {% if request.user.is_authenticated %}
        <h1> Welcome Back {{request.user}} !! </h1>
      {% else %}
        

          <form class="login" method="POST" action="/account/auth_view/">
        {% csrf_token %}

        <div id="div_id_login" class="form-group"> 
          <label for="username" class="form-control-label  requiredField"> Login
            <span class="asteriskField">*</span> 
          </label> <div class=""> 

          <input autofocus="autofocus" class="textinput textInput form-control" id="username" name="username" placeholder="Username or e-mail" type="text" required=""> 
        </div> 
      </div> 

      <div id="div_id_password" class="form-group"> 
        <label for="password" class="form-control-label  requiredField">
                Password
                <span class="asteriskField">*</span> 
              </label> 
              <div class=""> 
                <input class="textinput textInput form-control" id="password" name="password" placeholder="Password" type="password" required=""> 
              </div> 
            </div> 
            <div class="form-group"> 
              <div id="div_id_remember" class="checkbox"> 
                <label for="id_remember" class=""> 
                  <input class="checkboxinput" id="id_remember" name="remember" type="checkbox">
                    Remember Me
                </label> 
              </div> 
            </div>

  
  <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
  &nbsp;&nbsp;
  <a class="button secondaryAction" href="/accounts/signup/">Sign Up</a>
  <br>
  <button class="btn btn-default" type="submit">Sign In</button>
</form>
         
         {% endif %}
        </div>
      </div>


    </div> <!-- /container -->


      </div>

    </div> <!-- /container -->



{% endblock %}
    