{% extends "base.html" %}

{% block content %}

  <div class='col-md-9 col-md-offset-1' >
    <br>
  <h1>Your Products:</h1>
  <br><br>

        <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Product ID" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Product Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Dropoff Location" disabled></th>
                    </tr>
                </thead>
                <tbody>

                  {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.product_id }}</td>
                        <td>{{ obj.product_name }}</td>
                        <td>{{ obj.dropoff_location }}</td>
                    </tr>
                  
                  

                  {% endfor %}

                </tbody>
            </table>
  

  </div>


{% endblock %}
