{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}


  <div class='col-md-9 col-md-offset-2' >
    <h1> Sign In</h1>
    <br>
    {{ form|crispy }}
  <form class="login" action="/account/auth_view/" method="post">
    {% csrf_token %}
    <label for="username" class="form-control-label">User name:</label>
    <input type="text" name="username" value="" id="username" class="textinput textInput form-control">
    <label for="password" class="form-control-label">Password:</label>
    <input type="password" name="password" value="" id="password" class="textinput textInput form-control">
    <br>
    <input type="submit" value="login" class="btn btn-default"/>
    
  </form>
</div>

{% endblock %}