{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  
  <h2>Register Here</h2>
  
  {% for field in form %}
    {{field.error}}

  {% endfor %}
  
  <form class="signup"  action="/account/register_user/" method="post">
  {% csrf_token %}
  {{form|crispy}}
  
  
  <input type="submit" value="Register" class="btn btn-default />
    
  </form>
  
{% endblock %}